@import '../../justica-layout/src/shared/estilos/index.scss';

* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 14px;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: #fafafa;
  -webkit-overflow-scrolling: touch;
}

body {
  color: #212529;
}
